body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: #4d4d4d;
    text-align: center;
}

.container {
    justify-items: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: darkgrey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tasksComplete {
    color: #707070;
}

form {
    margin-bottom: 20px;
}

form input, form textarea {
    border-radius: 10px;
    border-width: 0px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #ededed;
}

#taskDescription {
    resize: none;
}

#taskDescriptionText {
    color: #707070;
}

button {
    border-radius: 10px;
    border-width: 0px;
    padding: 5px;
    margin: 10px;
    color: #ededed;
    background-color: #4d4d4d;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #ededed;
    color: #4d4d4d;
}

#markComplete:hover {
    background-color: #50C878;
    color: #ededed;
}

#remove:hover {
    background-color: #EB0002;
    color: #ededed;
}